-r ./requirements.txt
black==20.8b1; python_version >= '3.6'
docutils<0.16,>=0.10
flake8
flake8-black; python_version >= '3.6'
flake8-colors
flake8-docstrings
flake8-import-order>=0.9
pep8-naming
pexpect>=4.6.0
pylint>=1.8.4
pydocstyle==3.0.0
pyotp
pyroma
pytest
pytest-env
pytest-mock
pytest-ordering
semver
tox
