-r ./requirements.txt
black>=24.3.0,<26.0.0
coverage>=7.0.0,<8.0.0
docutils
flake8>=5.0.0
flake8-black
flake8-docstrings
flake8-import-order
moto==5.1.22
pep8-naming
pexpect
pydocstyle
pylint
pyotp
pyroma
pytest>=7.0.0,<9.0.0
pytest-cov
pytest-env
pytest-mock
pytest-ordering
requests-mock
semver
tox
